.comment__area {
    padding-top: 12px;
    padding-left: 16px;
  
    font-style: normal;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
  
    color: rgba(117, 117, 117, 0.5);
    resize: none;
  }