.header {
    border-bottom: 1px solid #ececec;
  }

  .header__logo {
    margin-left: 0;
    margin-right: 93px;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    font-family: Raleway;
  
    color: var(--accent-color);
  }
  
  .header__logo-text {
    color: #000000;
  }