.modal__title {
    text-align: center;
    margin: 40px 40px 12px 40px;
    width: 448px;
    height: 23px;
  
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
  
    letter-spacing: 0.03em;
  
    color: #212121;
  }